<div class="forgot-password-container">
    <h3 class="mb-4 text-center">Forgot Password</h3>

    <!-- OTP Request Form -->
    <form *ngIf="!showPass" [formGroup]="otpForm" (ngSubmit)="onSendOtp()">
        <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" placeholder="Enter your email" formControlName="email">
            <div *ngIf="otpForm.controls.email.touched && otpForm.controls.email.invalid" class="text-danger">
                <small *ngIf="otpForm.controls.email.errors?.['required']">Email is required.</small>
                <small *ngIf="otpForm.controls.email.errors?.['email']">Invalid email format.</small>
            </div>
        </div>
        <button class="btn btn-primary w-100" type="submit">Send OTP</button>
        <p class="mt-3 text-center">
            <a routerLink="/auth/login" class="text-primary" style="cursor: pointer; text-decoration: underline;">Back to Login</a>
            <!-- <a routerLink="/auth/login">Login</a> -->
        </p>
    </form>

    <!-- Password Reset Form -->
    <form *ngIf="showPass" [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="mb-3">
            <label for="reset-email">Email</label>
            <input id="reset-email" type="email" class="form-control" formControlName="email" [attr.disabled]="true">

        </div>
        <div class="mb-3">
            <label for="otp">OTP</label>
            <input id="otp" type="text" class="form-control" placeholder="Enter OTP" formControlName="otp">
            <div *ngIf="resetForm.controls.otp.touched && resetForm.controls.otp.invalid" class="text-danger">
                <small *ngIf="resetForm.controls.otp.errors?.['required']">OTP is required.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="password">New Password</label>
            <input id="password" type="password" class="form-control" placeholder="Enter new password" formControlName="password">
            <div *ngIf="resetForm.controls.password.touched && resetForm.controls.password.invalid" class="text-danger">
                <small *ngIf="resetForm.controls.password.errors?.['required']">Password is required.</small>
            </div>
        </div>
        <button class="btn btn-success w-100" type="submit">Reset Password</button>
        <p class="mt-3 text-center">
            <a (click)="onResend()" class="text-primary" style="cursor: pointer; text-decoration: underline;">Resend OTP</a>
        </p>
    </form>
</div>
